

body{
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: cursive;
    background: rgb(10, 5, 59); 
    background: -webkit-linear-gradient(rgb(7, 5, 99), rgb(44, 68, 207)); 
    background: -o-linear-gradient(rgb(7, 5, 99), rgb(44, 68, 207)); 
    background: -moz-linear-gradient(rgb(7, 5, 99), rgb(44, 68, 207)); 
    background: linear-gradient(rgb(7, 5, 99), rgb(44, 68, 207)); 
    /* background: url("1.jpg") no-repeat top center; */
    width: auto;
    height: 100vh;
    background-size: cover;

}
 
.wrapper{
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.search_box{
    width: 50%;
    position: relative;
}

.search_box input[type="text"]{
    width: 100%;
    padding: 20px;
    padding-right: 60px;
    box-sizing: border-box;
    background: rgba(0,0,0,0.3);
    border: 2px solid #fff;
    border-radius: 10px;
    font-size: 18px;
    color: #fff ;
    outline: none;
}

::-webkit-input-placeholder{
    color: #fff;
}

::-moz-placeholder{
    color: #fff;
}

::-ms-input-placeholder{
    color: #fff;
}

.fa-search{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 25px;
    color: #fff;
    font-size: 25px;
}

@media screen and (max-widht: 425px){
    .search_box{
        width: 95%;
    }
}


.hh{
    text-align:center;
    font-family: cursive;


}


 img{
    margin-top: 3%;
    border: 2px solid #ddd;
    border-radius: 30px;
    width: 450px;
    height: 300px;
    margin: 15px;

    padding: var(--spacing);
    background: var(--base);
    filter: blur(var(--blur));
}



img:hover{
    border-radius: var(--radius);
    box-shadow: 0px 2px 4px 1px rgba(0,0,0,5);
}

:root{
    --base: #c4c4c4;
    --spacing: 0px;
    --blur: 10px;
}
