<br>
<div>
    <div class="controls">
        <label for="spacing">Spacing:</label>
        <input id="spacing" type="range" name="spacing" min="10" max="100" value="10" data-sizing="px" />

        <label for="blur">Blur:</label>
        <input id="blur" type="range" name="blur" min="0" max="25" value="10" data-sizing="px" />

        <label for="base">Base Color</label>
        <input type="color" name="base" id="base">
    </div>
</div>

<br><br>
<div class="hh">
    <h1> Mystragram </h1>
</div>
<br><br>


<div class="wrapper">
    <div class="search_box">
        <input class="search" type="text" name="search" placeholder="Search Photo">
        <i class="fa fa-search"></i>
    </div>
</div>

<br><br><br>
<div class="gallery"></div>
<script src="./index.js"></script>

<br><br><br>